<div class="row mt-3">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-4">
                <div class="mx-2 my-1">
                    <h6 style="font-size: 1.15em;">Teaching Experience</h6>
                    <ul class="list-unstyled mb-1">
                        {% for interest in site.data.profile.teaching_experience %}
                            <li class="media mb-1">
                                <img src="{{ interest.logo | relative_url }}" alt="{{ interest.header }}" style="width: 18px;" class="mr-1 mt-1">
                                <div class="mt-auto ml-auto no-break"><em>{{ interest.date }}</em></div>
                                <div class="media-body">
                                    <div>{{ interest.header }}</div>
                                    <div class="small">{{ interest.dept }}</div>
                                    <div class="small d-flex">
                                        <div>{{ interest.position }}</div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
