<div class="row mt-3">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-4">
                <div class="mx-2 my-1">
                    <h6 style="font-size: 1.15em;">Teaching Experience</h6>
                    <ul class="list-unstyled mb-1">
                        {% for interest in site.data.profile.teaching_experience %}
                            <li class="media mb-3">
                                <img src="{{ interest.logo | relative_url }}" alt="{{ interest.header }}" style="width: 18px;" class="mr-1 mt-1">
                                <div class="media-body">
                                    <!-- University and Date on the same line -->
                                    <div class="d-flex justify-content-between">
                                        <div>{{ interest.header }}</div>
                                        <div class="text-muted" style="font-size: 0.9em;"><em>{{ interest.date }}</em></div>
                                    </div>
                                    <div style="font-size: 0.9em;">{{ interest.dept }}</div>
                                    
                                    <!-- Position as a list -->
                                    <ul class="pl-3 mt-1" style="font-size: 0.9em;">
                                        {% for courses in interest.courses %}
                                            <li>{{ courses }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
